{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <div class="container-fluid container-home">
        <div class="div-h1 ml12">
            <h1 class="h1-home">Les Poteries de Josette</h1>
        </div>
    </div>
{% endblock %}
