@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans&display=swap');

$font-family1: 'Courgette', cursive;
$font-family2: 'Open Sans', sans-serif;

body {
    background-color: #ffffff;
    font-family: $font-family2;
}

.row {
    margin-right: 0px;
}

h1, h2, h3, h4 {
    font-family: $font-family1;
}

.btn-all, .btn-all:hover{
    border-radius:12px 0 12px 0;
    background: rgba(255, 255, 255, 0.5);
    border:none;
    color: #ffffff;
    font:24px $font-family2;
    padding:10px 15px 10px 15px;
    box-shadow:1px 1px 3px #999;
    text-decoration: none;
}

/**********************************NAVBAR******************************/
.nav-top{
    position: absolute;
    width: 100%;
}

.nav-item{
    margin: 10px 20px;
    font-weight: bold;
}

.nav-link{
    color: white;
    font-size: 24px;
}

.nav-link:hover{
    color: white;
    text-shadow: 1px 1px 2px #082b34;
    border-bottom: 2px solid white;
}

/***********************************HOME*******************************/
.container-home{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.2)), url("/img/coquelicots.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.div-h1{
    padding-top: 40vh;
    margin-bottom: 40px;
}

.h1-home{
    color: white;
    font-size: 96px;
    text-shadow: 1px 1px 2px #082b34;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    margin: auto;
    width: fit-content;
}

/****************************ARTICLES****************/
.card-columns{
    column-count: 3;

    .card{
        border: 2px solid #f8f9fa;
    }
}
.articles{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url("/img/poterie2.jpg");
    background-size: cover;
    text-align: center;
    padding-bottom: 100px;
}
.articles-title{
    font-family: $font-family1;
    color: white;
    font-size: 96px;
    text-shadow: 1px 1px 2px #082b34;
    border-bottom: 4px solid white;
    padding-top: 100px;
    width: fit-content;
    margin-bottom: 100px;
}

/********************** WORK *************************************/

.work{
    background-position: bottom;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url("/img/hands.jpg");
    background-size: cover;
    text-align: left;
    color: whitesmoke;
    padding-bottom: 100px;
}

.wrapper {
    margin: auto;
    overflow: auto;
}

.p-work{
    font-size: 24px;
}

/**************************** SHOP *******************************/
.shop{
    background-position: bottom;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.82)), url("/img/Oingt.jpg");
    background-size: cover;
    text-align: left;
    color: whitesmoke;
    padding-bottom: 100px;
}

/***************************** EVENTS ******************************/
.event{
    background-position: top;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url("/img/marche2.jpg");
    background-size: cover;
    text-align: left;
    min-height: 100vh;
    padding-bottom: 100px;
}

.a-events, .a-events:visited {
    display: block;
    text-decoration: inherit;
    color: inherit;
}

.blog-posts {
    margin: auto;
    max-width: 1000px;
}

.blog-posts .featured {
    width: 100% !important;
    height: 250px !important;
    margin: 0.5em 0 1em 0 !important;
}

.blog-posts .featured .image {
    height: 250px !important;
}
.blog-posts .featured .content {
    height: 250px !important;
}
.blog-posts .row {
    display: flex;
}
.blog-posts .row .post:last-child {
    margin-right: 0 !important;
}
.blog-posts .post {
    flex: 1;
    overflow: hidden;
    background: white;
    height: 200px;
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
    margin-right: 1em;
    margin-bottom: 1em;
}
.blog-posts .post:hover {
    -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}
.blog-posts .post:hover .image {
    opacity: 0.8;
}
.blog-posts .post .image, .blog-posts .post .content {
    display: inline-block;
    position: relative;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.blog-posts .post .image {
    float: left;
    width: 50%;
    height: 200px;
    background-size: cover;
    background-position: center center;
}
.blog-posts .post .image .time {
    background: rgba(255, 255, 255, 0.5);
    width: 50px;
    text-align: center;
    padding: 0.5em 0;
    color: #444;
}
.blog-posts .post .image .time .date {
    font-weight: bolder;
}
.container .blog-posts .post .image .time .month {
    font-size: 0.7rem;
}
.blog-posts .post .content {
    padding: 0.5em 1em;
    width: 50%;
    -moz-box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.1);
    box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.1);
    height: 200px;
}
.blog-posts .post .content:before {
    content: '';
    position: absolute;
    background: white;
    width: 10px;
    height: 10px;
    top: 20%;
    left: -5px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.1);
    box-shadow: -1px 0 2px -1px rgba(0, 0, 0, 0.1);
}
.blog-posts .post .content h1 {
    font-weight: 600;
    line-height: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog-posts .post .content p {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0.5em;
    font-family: $font-family2;
}
.blog-posts .post .content .meta .icon-comment {
    line-height: 2;
    margin-top: auto;
}

[class^="icon-"]:before {
    margin-right: 0.5em;
    color: #3498db;
}

/****************************** RECIPES *************************************/

.recipes{
    background-position: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9)), url("/img/cook.jpg");
    background-size: cover;
    text-align: left;
    min-height: 100vh;
    padding-bottom: 100px;
}

main{
    position:relative;
    height:100%;
}

.menu{
    height:100vh;
    position:fixed;
    left:0;
    z-index:5;
    outline:none;
    margin-top: 2rem;

    .avatar{
        background: rgba(0, 0, 0, 0.39);
        padding:2em 0.5em;
        text-align:center;
        color: whitesmoke;

        h2{
            font-weight:normal;
            margin-bottom:0;
        }
    }

    ul{
        list-style:none;
        padding:0.5em 0;
        margin:0;
        color: whitesmoke;

        li{
            padding:0.5em 1em 0.5em 3em;
            font-size:1.2em;
            font-weight:normal;
            background-repeat:no-repeat;
            background-position:left 15px center;
            background-size:auto 20px;
            transition:all 0.15s linear;
            cursor:pointer;
        }
    }
}

.container-recipe img{
    width:100%;
    padding: 20px;
}

.container-recipe div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
}
.container-recipe .card{
    position: initial !important;
    transition:0.5s;
    cursor:pointer;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.container-recipe .card-title{
    margin: 10px;
    transition:1s;
    cursor:pointer;
}
.container-recipe .card-title i{
    font-size:20px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
}
.container-recipe .card-title i:hover{
    transform: scale(1.25);
    color: #d41818;

}
.container-recipe .card:hover{
    //transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.38);
}
.container-recipe .card-text{
    height:80px;
    overflow: hidden;
    padding: 10px 10px;
}

/********************* POP-UP RECIPES ******************************/
.recipes-visibility{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    opacity: 1;
}

.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}

.popup{
    margin: 150px auto;
    padding: 20px;
    background: whitesmoke;
    border-radius: 5px;
    width: 50%;
    position: relative;
    transition: all 0s ease-in-out;

    .close{
        position: absolute;
        top:10px;
        right: 10px;
        transition: all 0ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

}

.popup .close:hover{
    color: #de750d;
}

.recipe-card {
    background: #fff;
    margin: 4em auto;
    width: 90%;
    max-width: 496px;
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);

    aside {
        position: relative;

        img {
            max-width: 100%;
            height: auto;
            vertical-align: bottom;
            @include border-top-radius(5px);
        }
    }

    article {
        padding: 1.25em 1.5em;
    }

    h2{
        font-size: em(28);
        color: #222222;
        margin: 0;
        font-weight: 300;
    }

    p {
        margin: 1.25em 0;
        font-size: em(13);
        font-weight: 400;
        color: #222222;

        span {
            font-weight: 700;
            color: #000000;
        }
    }

    .ingredients {
        margin: 2em 0 0.5em;
    }
}

/**************************** BLOG **********************************/
.blog {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url("/img/coeur.jpg");
    background-size: cover;
    text-align: center;
    padding-bottom: 100px;
}

.blog-articles .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    }
    a {
        color: initial;
        &:hover {
            text-decoration: initial;
        }
    }
    .text-muted i {
        margin: 0 10px;
    }
}

/************************ CONTACT **************************************/
.contact {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url("/img/coquelicots.jpg");
    background-size: cover;
    text-align: center;
    padding-bottom: 100px;
}

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

label {
    display: block;
    margin: 0;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

.wrap-contact100 {
    margin: auto;
    width: 790px;
    background: #ffffff87;
    border-radius: 2px;
    padding: 55px 95px 55px 95px;
}

.contact100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border-radius: 2px;
    margin-bottom: 34px
}

.wrap-input100 ul{
    list-style: none;
    color: #d21313;
    text-align: left;
    padding: 0;
}

.label-input100 {
    font-family: $font-family1;
    font-size: 20px;
    color: #1d1c1c;
    line-height: 1.5;
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 11px;
}

.input100 {
    display: block;
    width: 100%;
    background: #f8f9fa;
    font-family: $font-family2;
    font-size: 18px;
    color: #333333;
    line-height: 1.2;
    padding: 0 25px;
}

input.input100 {
    height: 55px;
}

textarea.input100 {
    min-height: 162px;
    padding-top: 19px;
    padding-bottom: 15px;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    top: -1px;
    left: -1px;
    pointer-events: none;
    border: 1px solid;
    border-color: #d92323;
    border-color: -webkit-linear-gradient(45deg, #d7400a, #d92323);
    border-color: -o-linear-gradient(45deg, #d7400a, #d92323);
    border-color: -moz-linear-gradient(45deg, #d7400a, #d92323);
    border-color: linear-gradient(45deg, #d7400a, #d92323);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scaleX(1.1) scaleY(1.3);
    -moz-transform: scaleX(1.1) scaleY(1.3);
    -ms-transform: scaleX(1.1) scaleY(1.3);
    -o-transform: scaleX(1.1) scaleY(1.3);
    transform: scaleX(1.1) scaleY(1.3);
}

.container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -4px;
}

.contact100-form-btn {
    font-family: $font-family2;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 55px;
    border-radius: 27px;
    background: #d92323;
    background: -webkit-linear-gradient(45deg, #d7400a, #d92323);
    background: -o-linear-gradient(45deg, #d7400a, #d92323);
    background: -moz-linear-gradient(45deg, #d7400a, #d92323);
    background: linear-gradient(45deg, #d7400a, #d92323);
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    border-radius: 27px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #333333;
    opacity: 1;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn:hover:before {
    opacity: 0;
}

.contact100-form-btn i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.contact100-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

@media (max-width: 768px) {
    .wrap-contact100 {
        padding: 55px 45px 68px 45px;
    }
}

@media (max-width: 576px) {
    .wrap-contact100 {
        padding: 55px 15px 68px 15px;
    }
}

/******************************** FOOTER ************************************************/
.footer{
    background: #222424;
    color:white;

    .links{
        ul {list-style-type: none;}
        li a{
            color: white;
            transition: color .2s;
            &:hover{
                text-decoration:none;
                color: #d7400a;
            }
        }
    }
    .about-company{
        i{font-size: 25px;}
        a{
            color:white;
            transition: color .2s;
            &:hover{color:#d7400a}
        }
    }
    .location{
        i{font-size: 18px;}
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);}
}

/**************************************** LOGIN *************************************************/
.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.25);
}

.wrap-login100 {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;

    background: #81a864;
    background: -webkit-linear-gradient(top, #34472f, #81a864);
    background: -o-linear-gradient(top, #34472f, #81a864);
    background: -moz-linear-gradient(top, #34472f, #81a864);
    background: linear-gradient(top, #34472f, #81a864);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
    width: 100%;
}

.login100-form-logo {
    font-size: 60px;
    color: #333333;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}

.login100-form-title {
    font-family: $font-family1;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;

    display: block;
}


/*------------------------------------------------------------------
[ Input ]*/

.login100-form .wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    margin-bottom: 30px;
}

login100-form .input100 {
    font-family: $font-family2;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px 0 38px;
}

.login100-form .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login100-form-btn {
    font-family: $font-family2;
    font-size: 16px;
    color: #555555;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;

    background: #81a864;
    background: -webkit-linear-gradient(bottom, #34472f, #81a864);
    background: -o-linear-gradient(bottom, #34472f, #81a864);
    background: -moz-linear-gradient(bottom, #34472f, #81a864);
    background: linear-gradient(bottom, #34472f, #81a864);
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn:hover {
    color: #fff;
}

.login100-form-btn:hover:before {
    opacity: 0;
}
