{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="container-fluid work ">
        <div class="container">
            <div class="articles-title">Mentions légales</div>
            <div class="wrapper p-work">
                Merci de lire avec attention les différentes modalités d’utilisation du présent
                site avant d’y parcourir ses pages. En vous connectant sur ce site, vous acceptez
                sans réserves les présentes modalités. Aussi, conformément à l’article n°6 de la
                Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique,
                les responsables du présent site internet www.poterie-josette.com sont :<br>
                <br>
                <strong>Editeur du Site</strong> :<br>
                {#                Nom et prénom#}
                {#                Adresse de domicile#}
                {#                Numéro de téléphone et adresse de courrier électronique#}
                {#                Nom du directeur ou du codirecteur de la publication et celui du responsable de la rédaction s'il en existe#}
                {#                Nom, dénomination ou raison sociale et adresse et numéro de téléphone de l'hébergeur de son site#}

                {#                SARL ANTHEDESIGN Numéro de SIRET : 75221735600019<br>#}

                Responsable éditorial : Josette Bourgogne<br>

                rue Tyre Laine, 69620 Oingt<br>

                Téléphone : 0474711173<br>

                Email : <a href="mailto:josette.bourgogne@wanadoo.fr">josette.bourgogne@wanadoo.fr</a><br>

                Site Web : www.poterie-josette.com<br>
                <br>

                <strong>Activité</strong> :<br>
                <br>
                {#                Numéro d'inscription au répertoire des métiers : #}
                {#                Ou numéro d'inscription au registre des entreprises des chambres de métiers dans #}
                {#                les départements de la Moselle, du Bas-Rhin et du Haut-Rhin.#}

                <strong>Hébergement</strong> :<br>
                <br>
                Hébergeur : OVH<br>
                140 Quai du Sartel - 59100 Roubaix<br>
                Site Web : <a href="https://www.ovh.com/fr/">www.ovh.com</a><br>
                <br>
                <strong>Développement</strong> :<br>
                <br>
                Développeur web : <a href="https://www.linkedin.com/in/marion-emeric-bourgogne-8070b561/">Marion Emeric
                    Bourgogne</a>

                <strong>Conditions d’utilisation</strong> :<br>
                <br>
                Ce site est proposé en différents langages web (HTML5, Javascript, CSS, etc…) pour
                un meilleur confort d’utilisation et un graphisme plus agréable, nous vous
                recommandons de recourir à des navigateurs modernes comme Internet explorer,
                Safari, Firefox, Google Chrome, etc…<br>
                <br>
                Josette met en œuvre tous les moyens dont elle dispose, pour
                assurer une information fiable et une mise à jour fiable de ses sites internet.
                Toutefois, des erreurs ou omissions peuvent survenir. L’internaute devra donc
                s’assurer de l’exactitude des informations auprès de Josette, et signaler toutes
                modifications du site qu’il jugerait utile. Josette n’est en aucun cas responsable de
                l’utilisation faite de ces informations, et de tout préjudice direct ou indirect
                pouvant en découler.<br>
                <br>
                Cookies : Le site www.poterie-josette.com peut-être amené à vous demander
                l’acceptation des cookies pour des besoins de statistiques et d’affichage.
                Un cookies est une information déposée sur votre disque dur par le serveur du
                site que vous visitez. Il contient plusieurs données qui sont stockées sur votre
                ordinateur dans un simple fichier texte auquel un serveur accède pour lire et
                enregistrer des informations . Certaines parties de ce site ne peuvent être
                fonctionnelles sans l’acceptation de cookies.<br>
                <br>
                Liens hypertextes : Les sites internet de peuvent offrir des liens vers d’autres
                sites internet ou d’autres ressources disponibles sur Internet.
                Josette ne dispose d’aucun moyen pour contrôler les sites en connexion avec ses
                sites internet. Josette ne répond pas de la disponibilité de tels sites et
                sources externes, ni ne la garantit. Elle ne peut être tenue pour responsable de
                tout dommage, de quelque nature que ce soit, résultant du contenu de ces sites
                ou sources externes, et notamment des informations, produits ou services qu’ils
                proposent, ou de tout usage qui peut être fait de ces éléments. Les risques
                liés à cette utilisation incombent pleinement à l’internaute, qui doit se conformer
                à leurs conditions d’utilisation.<br>
                <br>
                Les visiteurs des sites internet ne peuvent pas mettre en place un hyperlien en
                direction de ce site sans l’autorisation expresse et préalable de Josette Bourgogne.<br>
                <br>
                Dans l’hypothèse où un visiteur souhaiterait mettre en place un hyperlien en
                direction de www.poterie-josette.com, il lui appartiendra d’adresser un email
                accessible sur le site afin de formuler sa demande de mise en place d’un hyperlien.
                Josette Bourgogne se réserve le droit d’accepter ou de refuser un hyperlien sans
                avoir à en justifier sa décision.<br>
                <br>
                <strong>Services fournis</strong>> :<br>
                <br>
                L’ensemble des activités de la société ainsi que ses informations sont présentés
                sur notre site www.poterie-josette.com.<br>
                <br>
                Josette s’efforce de fournir sur le site www.poterie-josette.com des informations
                aussi précises que possible. les renseignements figurant sur le site
                www.poterie-josette.com ne sont pas exhaustifs et les photos non contractuelles. Ils sont
                donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.
                Par ailleurs, tous les informations indiquées sur le site www.poterie-josette.com sont
                données à titre indicatif, et sont susceptibles de changer ou d’évoluer sans préavis.<br>
                <br>
                <strong>Limitation contractuelles sur les données</strong> :<br>
                <br>
                Les informations contenues sur ce site sont aussi précises que possible et le site
                remis à jour à différentes périodes de l’année, mais peut toutefois contenir des
                inexactitudes ou des omissions. Si vous constatez une lacune, erreur ou ce qui parait
                être un dysfonctionnement, merci de bien vouloir le signaler par email, à l’adresse
                <a href="mailto:josette.bourgogne@wanadoo.fr">josette.bourgogne@wanadoo.fr</a>, en
                décrivant le problème de la manière la plus précise possible (page posant problème,
                type d’ordinateur et de navigateur utilisé, …).<br>
                <br>
                Tout contenu téléchargé se fait aux risques et périls de l’utilisateur et sous sa
                seule responsabilité. En conséquence, ne saurait être tenu responsable d’un
                quelconque dommage subi par l’ordinateur de l’utilisateur ou d’une quelconque perte
                de données consécutives au téléchargement. De plus, l’utilisateur du site s’engage
                à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec
                un navigateur de dernière génération mis-à-jour.<br>
                <br>
                Les liens hypertextes mis en place dans le cadre du présent site internet en
                direction d’autres ressources présentes sur le réseau Internet ne sauraient
                engager la responsabilité de Josette Bourgogne.<br>
                <br>
                <strong>Propriété intellectuelle</strong> :<br>
                <br>
                Tout le contenu du présent site www.poterie-josette.com, incluant, de façon non
                limitative, les graphismes, images, textes, vidéos, animations, sons, logos,
                gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la
                société à l’exception des marques, logos ou contenus appartenant à d’autres
                sociétés partenaires ou auteurs.<br>
                <br>
                Toute reproduction, distribution, modification, adaptation, retransmission ou
                publication, même partielle, de ces différents éléments est strictement interdite
                sans l’accord exprès par écrit de Josette Bourgogne. Cette représentation ou
                reproduction, par quelque procédé que ce soit, constitue une contrefaçon sanctionnée
                par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Le
                non-respect de cette interdiction constitue une contrefaçon pouvant engager la
                responsabilité civile et
                pénale du contrefacteur. En outre, les propriétaires des Contenus copiés pourraient
                intenter une action
                en justice à votre encontre.<br>
                <br>
                <strong>Déclaration à la CNIL</strong> :<br>
                <br>
                Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6
                août 2004 relative à la
                protection des personnes physiques à l’égard des traitements de données à caractère
                personnel) relative
                à l’informatique, aux fichiers et aux libertés, ce site a fait l’objet d’une
                déclaration 1656629 auprès
                de la Commission nationale de l’informatique et des libertés (www.cnil.fr).<br>
                <br>
                <strong>Litiges</strong> :<br>
                <br>
                Les présentes conditions du site www.poterie-josette.com sont régies par les
                lois françaises et toute
                contestation ou litiges qui pourraient naître de l’interprétation ou de l’exécution
                de celles-ci seront
                de la compétence exclusive des tribunaux dont dépend le siège social de la société.
                La langue de
                référence, pour le règlement de contentieux éventuels, est le français.<br>
                <br>
                <strong>Données personnelles</strong> :<br>
                <br>
                De manière générale, vous n’êtes pas tenu de nous communiquer vos données
                personnelles lorsque vous
                visitez notre site Internet www.poterie-josette.com.<br>
                <br>
                Cependant, ce principe comporte certaines exceptions. En effet, pour certains
                services proposés par
                notre site, vous pouvez être amenés à nous communiquer certaines données telles
                que : votre nom, votre adresse électronique, et votre numéro de téléphone. Tel
                est le
                cas lorsque vous remplissez le formulaire qui vous est proposé en ligne, dans la
                rubrique <a href="{{ path('contact') }}">Contact</a>.<br>
                <br>
                Dans tous les cas, vous pouvez refuser de fournir vos données personnelles. Dans
                ce cas, vous ne pourrez
                pas utiliser les services du site, notamment celui de solliciter des renseignements
                sur notre société,
                ou de recevoir les lettres d’information.<br>
                <br>
                Enfin, nous pouvons collecter de manière automatique certaines informations vous
                concernant lors d’une
                simple navigation sur notre site Internet, notamment : des informations concernant
                l’utilisation de
                notre site, comme les zones que vous visitez et les services auxquels vous accédez,
                votre adresse IP, le
                type de votre navigateur, vos temps d’accès.<br>
                <br>
                De telles informations sont utilisées exclusivement à des fins de statistiques
                internes, de manière à
                améliorer la qualité des services qui vous sont proposés. Les bases de données
                sont protégées par les
                dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11
                mars 1996 relative à la
                protection juridique des bases de données.
            </div>
        </div>
    </div>
{% endblock %}
