{% extends 'base.html.twig' %}

{% block title %}Mes poteries{% endblock %}

{% block body %}
    <div class="container-fluid articles">
        <div class="container">
        <div class="articles-title">Mes poteries</div>
        <section class="card-columns">
            {% for product in products %}
                <div class="card">
                    <img class="card-img-top" src="{{ ('/uploads/images/products/'~product.name) }}" alt="{{ product.title }}">
                    <div class="card-body">
                        <h2 class="card-title">{{ product.title }}</h2>
                        <p class="card-text">{{ product.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
        </div>
    </div>
{% endblock %}
