{% extends 'base.html.twig' %}

{% block title %}Mon atelier{% endblock %}

{% block body %}
    <div class="container-fluid shop">
        <div class="articles-title">L'atelier de la potière à Oingt</div>
        <div class="wrapper p-work">
            « A une trentaine de km de Lyon, perché au-dessus des vignes du Beaujolais, Oingt est l’un des joyaux du "Pays des pierres dorées".
            De son passé médiéval, la cité a conservé l’ancienne chapelle du château, la porte fortifiée de Nizy et une tour donjon d’où l’on jouit d’un panorama exceptionnel sur la vallée d’Azergues. Au coeur du village, les maisons aux façades jaunes ocre accueillent artistes et artisans d’art. »
            (Source: Association Les Plus beaux villages de France - http://www.les-plus-beaux-villages-de-france.org)

            Mon atelier se situe dans ce village fantastique.
            » Je vous invite à venir me voir travailler, à flâner au gré des ruelles aux noms si pittoresques.
        </div>
    </div>
{% endblock %}
