{% extends 'base.html.twig' %}

{% block title %}Mon atelier{% endblock %}

{% block body %}
    <div class="container-fluid shop">
        <div class="container">
            <div class="articles-title">L'atelier de la potière à Oingt</div>
            <div class="wrapper p-work">
                <blockquote>« A une trentaine de km de Lyon, perché au-dessus des vignes du Beaujolais, <strong>Oingt</strong> est l’un des joyaux du
                "Pays des pierres dorées".<br>
                De son <strong>passé médiéval</strong>, la cité a conservé l’ancienne chapelle du château, la porte fortifiée de Nizy et une
                tour donjon d’où l’on jouit d’un panorama exceptionnel sur la <strong>vallée d’Azergues</strong>. <br>
                Au coeur du village, les maisons aux façades jaunes ocre accueillent artistes et <strong>artisans d’art</strong>. »<br><br>
                <em>Source: Association <a href="http://www.les-plus-beaux-villages-de-france.org">Les Plus beaux villages de France</a></em>
                </blockquote><br>
                Mon atelier se situe dans ce village <strong>magnifique</strong>.<br>
                Je vous invite à venir me voir travailler, à flâner au gré des ruelles aux noms si <strong>pittoresques</strong>.
            </div>
        </div>
    </div>
{% endblock %}
