<div class="nav-top">
    <nav class="navbar navbar-expand-lg bg-transparent rounded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10"
                aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-center">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ path('articles') }}">Poteries</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('work') }}">Argile et émaux</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Atelier</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Evènements</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Recettes de Josette</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Coup de coeur</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>

