<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/ab15670bb2.js" crossorigin="anonymous"></script>
        <title>{% block title %}Bienvenue{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% include '_navbar.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('index') }}
        {% endblock %}
    </body>
</html>
