{% extends 'base.html.twig' %}

{% block title %}Argile et Emaux{% endblock %}

{% block body %}
    <div class="container-fluid work ">
        <div class="container">
            <div class="articles-title">Le travail de l'argile et des Emaux</div>
            <div class="wrapper p-work">
                <img src="/img/contact.jpg">
                Je fabrique des <strong>poteries utilitaires et décoratives</strong>.<br>
                <br>
                Les couleurs que j’ai choisies sont :
                <br><br>
                <ul>
                    <li>Le <strong>Miel ou brun</strong>, que j’obtiens en appliquant un émail transparent sur l’argile
                        rouge
                        cuite nature.
                    </li>
                    <li>Le <strong>Jaune</strong>, engobe* de terre blanche passé sur la terre crue, cuite à 980° et
                        émaillé
                        d’une couverte transparente et teinté à l’oxyde de fer.
                    </li>
                    <li>Le <strong>Vert</strong>, engobe de terre blanche et d’oxyde de cuivre passé sur terre crue et
                        cuit.
                    </li>
                </ul>
                <br>
                <blockquote>* <a href="https://fr.wikipedia.org/wiki/Engobe">Engobe</a> : mélange de terre blanche en poudre, avec ou sans oxyde pour donner la couleur, et
                    d’eau pour
                    obtenir une pâte à la consistance de « pâte à crêpe ».
                </blockquote>
                <br>
                Je réalise moi-même les « recettes » de mes engobes.<br>
                <br>
                La technique de fabrication utilisée est la <strong>terre vernissée</strong>.<br>
                Vernissée car très brillante, c’est un émail transparent teinté à l’oxyde de fer pour donner des couleurs plus chaudes.<br>
                Le décor se fait sur terre crue légèrement humide. Après séchage complet, <strong>première cuisson à 980°</strong>, on
                obtient le « biscuit ».<br><br>
                Après l’émaillage, on recuit à 1000°, l’émail teinté à l’oxyde de fer révèle toutes les couleurs.<br>
                <br>
                <strong>Poteries utilitaires et décoratives</strong>, mes poteries sont "rondes et chaleureuses", elles
                sont destinées à décorer vos tables et à présenter toutes vos recettes gourmandes pour le plaisir des
                yeux et du palais.<br>
                <br>
                Elles sont inspirées de formes traditionnelles, tians, pichets, marmitons, huiliers, plats divers...
                et sont utiles toute l’année en fonction des saisons.<br>
                <br>
                Mes plats peuvent aller au four sans problème si l’on respecte ces quelques petits conseils : pas de
                chocs thermiques, tout doit se faire à température ambiante.<br>
                Prendre le plat, gratin ou tarte, y déposer votre préparation, mettre dans le four, allumer celui-ci,
                faire cuire. A la sortie, poser votre plat sur du bois, de la paille ou du papier, mais surtout pas sur
                de la céramique (évier, dessous de plat, carrelage).<br>
                <strong>Toutes mes poteries passent au lave-vaisselle</strong>.<br>
                <img src="/img/poterie.jpg" class="img-work">
                <br><br>
                Pour allier art de la table et convivialité, je réalise des <strong>pièces plus décoratives</strong>, comme des miroirs,
                des pieds de lampe, des vases...<br>
                Ma dernière création, les coquelicots, avec un modèle pris sur le « vif » et de taille réelle. Ils se
                déclinent avec ou sans tige et deux modèles plus grands sont proposés.<br>
                Leur rouge vif donnera une touche de couleur très décorative à votre intérieur.<br>
                <br>
                Mon atelier se situe dans un magnifique petit village beaujolais, <a href="https://www.oingt.com/">Oingt</a> , seul village du Rhône ayant le label des plus beaux
                villages de France.<br>
                Je vous invite à venir me voir travailler, à flâner aux grés des ruelles aux noms si pittoresques.<br>
                <br><br>
                A bientôt<br>
                <br>
                Josette
            </div>
        </div>
    </div>
{% endblock %}
